
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>add event</h3>
                        
                        <form name="form"
                        (ngSubmit)="f.form.valid && onSubmit()"
                        #f="ngForm"
                        novalidate >
    
                            <div class="col-md-12">
                               <input class="form-control" type="text"
                               name="title" 
                               [(ngModel)]="form.title"
                               placeholder="Event name"
                               #title="ngModel" 
                               required>
                               <div class="alert-danger" *ngIf="title.errors && f.submitted">
                                <div *ngIf="title.errors['required']">Title is required</div>

                              </div>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text"
                                name="description" 
                                [(ngModel)]="form.description"
                                placeholder="Description"
                                #description="ngModel" 
                                required>
                                <div class="alert-danger" *ngIf="description.errors && f.submitted">
                                 <div *ngIf="description.errors['required']">Description is required</div>
 
                               </div>
                             </div>
                            <p></p>


                            <div class="col-md-12">
                                <input class="form-control" type="date" name="date" 
                                [(ngModel)]="form.date"
                                placeholder="jj/mm/aaaa"
                                #date="ngModel"  
                                required>
                                <div class="alert-danger" *ngIf="date.errors && f.submitted">
                                    <div *ngIf="date.errors['required']">Date is required</div>

                                  </div>
                            </div>
                            <p></p>
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="startTime" 
                                [(ngModel)]="form.startTime"
                                placeholder="HH:mm:ss"
                                #startTime="ngModel"  
                                required>
                                <div class="alert-danger" *ngIf="startTime.errors && f.submitted">
                                    <div *ngIf="startTime.errors['required']">startTime is required</div>

                                  </div>
                            </div>
                            <p></p>
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="endTime" 
                                [(ngModel)]="form.endTime"
                                placeholder="HH:mm:ss"
                                #endTime="ngModel"  
                                required>
                                <div class="alert-danger" *ngIf="endTime.errors && f.submitted">
                                    <div *ngIf="endTime.errors['required']">endTime is required</div>

                                  </div>
                            </div>
                            <p></p>
                           <div class="col-md-12">
                                <select class="form-select mt-3"
                                name="categoryId"
                                [(ngModel)]="form.categoryId"
                                #categoryId="ngModel">
                                      <option  *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                                      
                               </select>
                                
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="text" name="location" 
                            [(ngModel)]="form.location"
                            placeholder="Location"
                            #location="ngModel"  
                            required>
                            <div class="alert-danger" *ngIf="location.errors && f.submitted">
                                <div *ngIf="location.errors['required']">Location is required</div>

                              </div>
                        </div>
                           
                           
    
                            <div class="form-button mt-3">
                                <button  type="submit" class="btn btn-primary">add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
